<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="x2048_3D_Logic.x2048_3D_Logic" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<application android:label="2048 3D Logic" android:icon="@drawable/cutedIconCube"></application>
</manifest>